* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.searchZone {
  padding: 15px;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .card_list {
  width: 1100px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
}
.wrapper .card_list .card {
  padding: 5px 5px;
  width: calc(33% - 10px);
  text-align: center;
}
.wrapper .card_list .card img {
  width: 280px;
  height: 250px;
}